## Pandas 학습

### 라이브러리 추가
```python
!pip install pandas
```

- Successfully Installed... : 최초설치
- Requiremnet already satisfied...: 이미 설치 됨

In [7]:
!pip install pandas

Requirement already satisfied: pandas in c:\dev\python312\lib\site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\dev\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\dev\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\dev\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\dev\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\dev\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

### 판다스 라이브러리 로딩
```python
import pandas as pd```

In [8]:
import pandas as pd

### 판다스 기본
#### DaraFrame 객체
- 파이썬 2차원 리스트(배열)와 동일
- 행(row) 각 하나의 유니크 데이터 묶음
- 열(column) 유니크 데이터 각각의 특성

In [9]:
## 딕셔너리로 DataFrame 객체 생성 = 2차원 리스트와 동일하게 생성 가능
data = {'이름': ['성명건', '홍길동', '애슐리'], '나이': [47, 20, 40], '결혼': [True, False, True]}
df = pd.DataFrame(data=data)
df

    이름  나이     결혼
0  성명건  47   True
1  홍길동  20  False
2  애슐리  40   True

In [10]:
data = [['성명건', 47, '부산', 'smg@naver.com', 'True'], ['홍길동', 20, '서울', 'hgd@gmail.com', False], 
        ['애슐리', 40, '경기', 'ashley@nate.com', True], ['홍길순', 18, '서울', 'hgs@daum.net', False]]

data

[['성명건', 47, '부산', 'smg@naver.com', 'True'],
 ['홍길동', 20, '서울', 'hgd@gmail.com', False],
 ['애슐리', 40, '경기', 'ashley@nate.com', True],
 ['홍길순', 18, '서울', 'hgs@daum.net', False]]

In [11]:
## 2차원 리스트로 DataFrame 객체 생성
df = pd.DataFrame(data=data, columns=['이름', '나이', '주소', '이메일', '결혼'])
df

    이름  나이  주소              이메일     결혼
0  성명건  47  부산    smg@naver.com   True
1  홍길동  20  서울    hgd@gmail.com  False
2  애슐리  40  경기  ashley@nate.com   True
3  홍길순  18  서울     hgs@daum.net  False

In [12]:
## DataFrame에서 데이터 조회(열) - 리스트는 for문을 써야 출력가능
df['이름']

0    성명건
1    홍길동
2    애슐리
3    홍길순
Name: 이름, dtype: object

In [13]:
## 데이터프레임 조회(2개 열)
df[['이름', '나이']]

    이름  나이
0  성명건  47
1  홍길동  20
2  애슐리  40
3  홍길순  18

In [14]:
## 데이터프레임 행으로 조회
df.loc[0]

이름               성명건
나이                47
주소                부산
이메일    smg@naver.com
결혼              True
Name: 0, dtype: object

In [15]:
## 데이터프레임 행으로 조회
df.loc[[1, 3]]

    이름  나이  주소            이메일     결혼
1  홍길동  20  서울  hgd@gmail.com  False
3  홍길순  18  서울   hgs@daum.net  False

In [16]:
# 현재 데이터프레임 확인
df

    이름  나이  주소              이메일     결혼
0  성명건  47  부산    smg@naver.com   True
1  홍길동  20  서울    hgd@gmail.com  False
2  애슐리  40  경기  ashley@nate.com   True
3  홍길순  18  서울     hgs@daum.net  False

In [17]:
## 새 컬럼 추가
df['전화번호'] = ['010', '011', '017', '019']

In [18]:
# 추가된 데이터프레임 확인
df

    이름  나이  주소              이메일     결혼 전화번호
0  성명건  47  부산    smg@naver.com   True  010
1  홍길동  20  서울    hgd@gmail.com  False  011
2  애슐리  40  경기  ashley@nate.com   True  017
3  홍길순  18  서울     hgs@daum.net  False  019

In [19]:
## 열 삭제
df.drop('결혼', axis=1) # axis = 0(행), 1(열)   # 열을 지울 때는 axis=1만 사용

    이름  나이  주소              이메일 전화번호
0  성명건  47  부산    smg@naver.com  010
1  홍길동  20  서울    hgd@gmail.com  011
2  애슐리  40  경기  ashley@nate.com  017
3  홍길순  18  서울     hgs@daum.net  019

In [20]:
## drop()은 삭제한 내용을 출력만 해줌(완전삭제X, 일시삭제O). 완전히 삭제하려면 inplace 옵션 사용(한번 지우면 끝)
# inplace는 화면에 출력 안됨
df.drop('결혼', axis=1, inplace=True)

In [21]:
# 삭제를 확인
df

    이름  나이  주소              이메일 전화번호
0  성명건  47  부산    smg@naver.com  010
1  홍길동  20  서울    hgd@gmail.com  011
2  애슐리  40  경기  ashley@nate.com  017
3  홍길순  18  서울     hgs@daum.net  019

In [22]:
## 행추가
df.loc[4] = ['손흥민', 32, '런던', 'shm@gamil.com', '020']

In [23]:
df

    이름  나이  주소              이메일 전화번호
0  성명건  47  부산    smg@naver.com  010
1  홍길동  20  서울    hgd@gmail.com  011
2  애슐리  40  경기  ashley@nate.com  017
3  홍길순  18  서울     hgs@daum.net  019
4  손흥민  32  런던    shm@gamil.com  020

In [24]:
## 행 삭제(완전히 삭제하려면 inplace를 사용하거나 변수에 재할당)
df2 = df.drop(3)

In [25]:
df2

    이름  나이  주소              이메일 전화번호
0  성명건  47  부산    smg@naver.com  010
1  홍길동  20  서울    hgd@gmail.com  011
2  애슐리  40  경기  ashley@nate.com  017
4  손흥민  32  런던    shm@gamil.com  020

In [26]:
## 행삭제 inplace
df.drop(2, axis=0, inplace=True)    # 행을 지울 때는 axis=0만 사용 또는 생략

In [27]:
df

    이름  나이  주소            이메일 전화번호
0  성명건  47  부산  smg@naver.com  010
1  홍길동  20  서울  hgd@gmail.com  011
3  홍길순  18  서울   hgs@daum.net  019
4  손흥민  32  런던  shm@gamil.com  020

In [28]:
## 열 이름 변경
df.rename(columns={'전화번호':'휴대폰'}, inplace=True)

In [29]:
df

    이름  나이  주소            이메일  휴대폰
0  성명건  47  부산  smg@naver.com  010
1  홍길동  20  서울  hgd@gmail.com  011
3  홍길순  18  서울   hgs@daum.net  019
4  손흥민  32  런던  shm@gamil.com  020

- 데이터 프레임은 파이썬의 2차원 리스트와 동일하지만, 좀더 사용하기 쉽도록 만든 클래스

#### 시리즈 객체

- 파이썬에서 1차원 리스트(배열)
- 시리즈들 그루핑한게 데이터 프레임
- 가장 최소단위

In [30]:
data = [47, 20, 40, 18, 32]
srs = pd.Series(data=data)
srs

0    47
1    20
2    40
3    18
4    32
dtype: int64

In [31]:
## 데이터프레임의 한 열을 가지고온 자료구조와 시리즈는 동일
type(df['나이'])

pandas.core.series.Series

In [32]:
type(srs)

pandas.core.series.Series

In [33]:
srs = pd.Series(data=data, index=['성명건', '홍길동', '애슐리', '홍길순', '손흥민'])
srs

성명건    47
홍길동    20
애슐리    40
홍길순    18
손흥민    32
dtype: int64

In [34]:
## 조회
srs['손흥민']

32

In [35]:
## 값 변경
srs['성명건'] = 48

In [36]:
srs

성명건    48
홍길동    20
애슐리    40
홍길순    18
손흥민    32
dtype: int64

In [37]:
## 데이터프레임에서 한 행을 가져와도 시리즈.
df.loc[1]

이름               홍길동
나이                20
주소                서울
이메일    hgd@gmail.com
휴대폰              011
Name: 1, dtype: object

#### 데이터프레임 사용하기
- CSV, 엑셀파일 로드
- VS Code 플러그인, GrapeCity의 Excel Viewer를 설치
- 엑셀파일 로드할 때는 openpyxl 라이브러리를 추가 설치

In [38]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\dev\python312\lib\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\dev\python312\lib\site-packages (from openpyxl) (1.1.0)

In [39]:
## CSV 로드
df_csv = pd.read_csv('./data/sample_1.csv', encoding='utf-8', header=1, skipfooter=2, engine='python', usecols=[0, 1, 2])
df_csv

  �����ڵ�  ����  �Ա�����
0     A01  ����   106320
1     A01  ����   191436
2     A31  ����      319
3     A31  ����       42
4     A18  ����   158912
5     A18  ����   232943

In [40]:
## 엑셀 로드
df_xls = pd.read_excel('./data/sample_1.xlsx', header=1, skipfooter=2, usecols='A:C', sheet_name='Sheet1')
df_xls

  국적코드  성별    입국객수
0  A01  남성  106320
1  A01  여성  191436
2  A31  남성     319
3  A31  여성      42
4  A18  남성  158912
5  A18  여성  232943

- 엑셀, csv는 동일한 데이터라면 csv가 훨씬 용량이 적다

In [42]:
## DF 정보확인
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   �����ڵ�  6 non-null      object
 1   ����     6 non-null      object
 2   �Ա�����  6 non-null      int64
dtypes: int64(1), object(2)
memory usage: 276.0+ bytes

In [44]:
## 데이터 일부 보기(위에서 부터 n=5 기본)
df_csv.head(n=3)

  �����ڵ�  ����  �Ա�����
0     A01  ����   106320
1     A01  ����   191436
2     A31  ����      319

In [46]:
## 데이터 일부 보기(아래에서부터 n=5)
df_csv.tail(n=3)

  �����ڵ�  ����  �Ա�����
3     A31  ����       42
4     A18  ����   158912
5     A18  ����   232943

In [47]:
## 통계량 요약보기
df_csv.describe()

             �Ա�����
count       6.000000
mean   114995.333333
std     98105.752006
min        42.000000
25%     26819.250000
50%    132616.000000
75%    183305.000000
max    232943.000000

In [48]:
# 모두 다른 데이터를 할당가능
df_csv['기준년월'] = ['2023-10', '2023-11', '2023-12', '2024-01', '2024-02', '2024-03']

In [49]:
df_csv

  �����ڵ�  ����  �Ա�����     기준년월
0     A01  ����   106320  2023-10
1     A01  ����   191436  2023-11
2     A31  ����      319  2023-12
3     A31  ����       42  2024-01
4     A18  ����   158912  2024-02
5     A18  ����   232943  2024-03

In [50]:
df_csv.loc[0] # 시리즈

�����ڵ�        A01
����          ����
�Ա�����     106320
기준년월       2023-10
Name: 0, dtype: object

In [51]:
df_csv.loc[[0]] # 데이터프레임

  �����ڵ�  ����  �Ա�����     기준년월
0     A01  ����   106320  2023-10

In [52]:
df_csv.loc[0:4]

  �����ڵ�  ����  �Ա�����     기준년월
0     A01  ����   106320  2023-10
1     A01  ����   191436  2023-11
2     A31  ����      319  2023-12
3     A31  ����       42  2024-01
4     A18  ����   158912  2024-02

In [53]:
## 필터링
condition = (df_csv['국적코드'] == 'A31')
condition

KeyError: '국적코드'

In [54]:
# '국적코드가 A31인 행만 보여줘' 필터링
df_csv[condition]

NameError: name 'condition' is not defined

In [55]:
## 상단의 condition 변수만드는 부분과 사용하는 부분을 합칠수 있음
df_csv[df_csv['성별'] == '여성']

KeyError: '성별'

In [56]:
## 입국객수가 20만 이상인 보여줘
df_csv[df_csv['입국객수'] >= 200_000]

KeyError: '입국객수'

In [57]:
## 여러조건을 같이 필터링
df_csv[(df_csv['성별'] == '남성') & (df_csv['입국객수'] >= 150_000)]

KeyError: '성별'

In [58]:
## 한 열에 여러값으로 필터링
df_csv[ df_csv['국적코드'].isin(['A01', 'A31']) == True ]

KeyError: '국적코드'