## 빅데이터 실습

### 데이터포털 OpenAPI 활용

#### 데이터 수집

##### OpenAPI
- 한국관광공사 관광빅데이터 정보서비스 GW
    - 기존 URL : http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?
        - https로 서비스 요청하면 ssl관련 오류발생
    - 서비스키 : 7nLHBy133gEayX0XUm36xxgovALOuZFRciiBQqKgzYuQ%2B%2BHXh%2B4D6zIXRXeMJny%2BuVGbRMLWAOZipodkafh%2BtQ%3D%3D
    - 파라미터(?뒤 기준) : 
        - serviceKey = 본인서비스키
        - numOfRows = 한페이지 나타낼 결과수(10 기본 60으로 하면 하루치 전부 가져올 수 있음)
        - pageNo = 시작 페이지 번호(1)
        - MobileOS = IOS, AND, WIN, ETC(기타)
        - MobileApp=AppTest(테스트)
        - startYmd = 시작일자
        - endYmd = 종료일자

In [1]:
## 필요 라이브러리 사용등록
from urllib.request import Request, urlopen
from datetime import datetime
import ssl
import requests
import json
import pandas as pd
import xmltodict

##### 추가모듈
- XML을 딕셔너리로 한번 바꿔주는 모듈
- xmltodict

!pip install xmltodict

In [2]:
!pip install xmltodict

Requirement already satisfied: xmltodict in c:\dev\python312\lib\site-packages (0.13.0)

In [3]:
def getRequestUrl(url):
    req = Request(url)
    try:
        res = urlopen(req)
        if res.getcode() == 200:    # 웹 URL 요청결과 OK
           print(f'[{datetime.now()}] url 요청 성공!') 
           return res.read().decode('utf-8')    # 웹으로 전달될때는 URL, utf-8로 인코딩, 돌려받을때는 utf-8 디코딩
    except Exception as e:
        print(f'[{datetime.now()}]getRequestUrl() 호출 예외 :{e}')
        return None

In [4]:
# 파라미터를 변경하면서 OpenAPI 요청하고 결과데이터 리턴함수
# 만약 시작일자, 종료일자가 다르면 파라미터 두개 받아야함
serviceKey = r'7nLHBy133gEayX0XUm36xxgovALOuZFRciiBQqKgzYuQ%2B%2BHXh%2B4D6zIXRXeMJny%2BuVGbRMLWAOZipodkafh%2BtQ%3D%3D'
def getTouristDataService(yyyymmdd):
    serviceUrl = 'http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList'
    parameters = f'?serviceKey={serviceKey}' + \
                 '&numOfRows=60' + \
                 '&pageNo=1' + \
                 '&MobileOS=ETC' + \
                 '&MobileApp=AppTest' + \
                 f'&startYmd={yyyymmdd}' + \
                 f'&endYmd={yyyymmdd}'
                 
    url = serviceUrl + parameters
    print(url)
    # ssl._create_default_https_context = ssl._create_unverified_context
    response = getRequestUrl(url)   # OpenAPI URL로 실제요청
    
    if response == None:
        return None
    else:
        return response

In [5]:
# 실행테스트
# getTouristDataService('20231201')

In [6]:
# 서비스키
serviceKey = r'7nLHBy133gEayX0XUm36xxgovALOuZFRciiBQqKgzYuQ%2B%2BHXh%2B4D6zIXRXeMJny%2BuVGbRMLWAOZipodkafh%2BtQ%3D%3D'

In [7]:
# 기준날짜
ymd = '20231201'

In [8]:
baseUrl = 'http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?'
parameter = 'numOfRows=10&pageNo=1&MobileOS=ETC&MobileApp=AppTest&' +\
            f'serviceKey={serviceKey}&startYmd={ymd}&endYmd={ymd}'
totalUrl = baseUrl + parameter
totalUrl

'http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?numOfRows=10&pageNo=1&MobileOS=ETC&MobileApp=AppTest&serviceKey=7nLHBy133gEayX0XUm36xxgovALOuZFRciiBQqKgzYuQ%2B%2BHXh%2B4D6zIXRXeMJny%2BuVGbRMLWAOZipodkafh%2BtQ%3D%3D&startYmd=20231201&endYmd=20231201'

In [9]:
# 실행테스트
res = requests.get(totalUrl)
res.status_code
res.text

'<?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><header>\n  <resultCode>0000</resultCode>\n  <resultMsg>OK</resultMsg>\n</header><body><items>\n  <item>\n    <areaCode>11</areaCode>\n    <areaNm>서울특별시</areaNm>\n    <daywkDivCd>5</daywkDivCd>\n    <daywkDivNm>금요일</daywkDivNm>\n    <touDivCd>1</touDivCd>\n    <touDivNm>현지인(a)</touDivNm>\n    <touNum>4603042.5</touNum>\n    <baseYmd>20231201</baseYmd>\n  </item>\n  <item>\n    <areaCode>11</areaCode>\n    <areaNm>서울특별시</areaNm>\n    <daywkDivCd>5</daywkDivCd>\n    <daywkDivNm>금요일</daywkDivNm>\n    <touDivCd>2</touDivCd>\n    <touDivNm>외지인(b)</touDivNm>\n    <touNum>1448384.0</touNum>\n    <baseYmd>20231201</baseYmd>\n  </item>\n  <item>\n    <areaCode>11</areaCode>\n    <areaNm>서울특별시</areaNm>\n    <daywkDivCd>5</daywkDivCd>\n    <daywkDivNm>금요일</daywkDivNm>\n    <touDivCd>3</touDivCd>\n    <touDivNm>외국인(c)</touDivNm>\n    <touNum>30583.54999999999</touNum>\n    <baseYmd>20231201</baseYmd>\n  </item>\n  <item>\n    <areaCode>26</areaCode>\n    <areaNm>부산광역시</areaNm>\n    <daywkDivCd>5</daywkDivCd>\n    <daywkDivNm>금요일</daywkDivNm>\n    <touDivCd>1</touDivCd>\n    <touDivNm>현지인(a)</touDivNm>\n    <touNum>1583729.0</touNum>\n    <baseYmd>20231201</baseYmd>\n  </item>\n  <item>\n    <areaCode>26</areaCode>\n    <areaNm>부산광역시</areaNm>\n    <daywkDivCd>5</daywkDivCd>\n    <daywkDivNm>금요일</daywkDivNm>\n    <touDivCd>2</touDivCd>\n    <touDivNm>외지인(b)</touDivNm>\n    <touNum>323697.5</touNum>\n    <baseYmd>20231201</baseYmd>\n  </item>\n  <item>\n    <areaCode>26</areaCode>\n    <areaNm>부산광역시</areaNm>\n    <daywkDivCd>5</daywkDivCd>\n    <daywkDivNm>금요일</daywkDivNm>\n    <touDivCd>3</touDivCd>\n    <touDivNm>외국인(c)</touDivNm>\n    <touNum>8219.360000000004</touNum>\n    <baseYmd>20231201</baseYmd>\n  </item>\n  <item>\n    <areaCode>27</areaCode>\n    <areaNm>대구광역시</areaNm>\n    <daywkDivCd>5</daywkDivCd>\n    <daywkDivNm>금요일</daywkDivNm>\n    <touDivCd>1</touDivCd>\n    <touDivNm>현지인(a)</touDivNm>\n    <touNum>1206880.5</touNum>\n    <baseYmd>20231201</baseYmd>\n  </item>\n  <item>\n    <areaCode>27</areaCode>\n    <areaNm>대구광역시</areaNm>\n    <daywkDivCd>5</daywkDivCd>\n    <daywkDivNm>금요일</daywkDivNm>\n    <touDivCd>2</touDivCd>\n    <touDivNm>외지인(b)</touDivNm>\n    <touNum>238301.0</touNum>\n    <baseYmd>20231201</baseYmd>\n  </item>\n  <item>\n    <areaCode>27</areaCode>\n    <areaNm>대구광역시</areaNm>\n    <daywkDivCd>5</daywkDivCd>\n    <daywkDivNm>금요일</daywkDivNm>\n    <touDivCd>3</touDivCd>\n    <touDivNm>외국인(c)</touDivNm>\n    <touNum>1004.25</touNum>\n    <baseYmd>20231201</baseYmd>\n  </item>\n  <item>\n    <areaCode>28</areaCode>\n    <areaNm>인천광역시</areaNm>\n    <daywkDivCd>5</daywkDivCd>\n    <daywkDivNm>금요일</daywkDivNm>\n    <touDivCd>1</touDivCd>\n    <touDivNm>현지인(a)</touDivNm>\n    <touNum>1364107.5</touNum>\n    <baseYmd>20231201</baseYmd>\n  </item>\n</items>  <numOfRows>10</numOfRows>\n  <pageNo>1</pageNo>\n  <totalCount>51</totalCount>\n</body></response>'

In [10]:
## openAPI로 넘어온 text(xml타입)
## xmltodict.parse() xml문서를 파이썬 dictionary타입 변환
## json.dumps() dictionary를 json타입으로 변환
dictTemp = xmltodict.parse(res.text)

In [11]:
# 딕셔너리의 키를 []에 추가해서 원하는 데이터까지 내려가야 함
dictTemp['response']['body']['items']['item']

[{'areaCode': '11',
  'areaNm': '서울특별시',
  'daywkDivCd': '5',
  'daywkDivNm': '금요일',
  'touDivCd': '1',
  'touDivNm': '현지인(a)',
  'touNum': '4603042.5',
  'baseYmd': '20231201'},
 {'areaCode': '11',
  'areaNm': '서울특별시',
  'daywkDivCd': '5',
  'daywkDivNm': '금요일',
  'touDivCd': '2',
  'touDivNm': '외지인(b)',
  'touNum': '1448384.0',
  'baseYmd': '20231201'},
 {'areaCode': '11',
  'areaNm': '서울특별시',
  'daywkDivCd': '5',
  'daywkDivNm': '금요일',
  'touDivCd': '3',
  'touDivNm': '외국인(c)',
  'touNum': '30583.54999999999',
  'baseYmd': '20231201'},
 {'areaCode': '26',
  'areaNm': '부산광역시',
  'daywkDivCd': '5',
  'daywkDivNm': '금요일',
  'touDivCd': '1',
  'touDivNm': '현지인(a)',
  'touNum': '1583729.0',
  'baseYmd': '20231201'},
 {'areaCode': '26',
  'areaNm': '부산광역시',
  'daywkDivCd': '5',
  'daywkDivNm': '금요일',
  'touDivCd': '2',
  'touDivNm': '외지인(b)',
  'touNum': '323697.5',
  'baseYmd': '20231201'},
 {'areaCode': '26',
  'areaNm': '부산광역시',
  'daywkDivCd': '5',
  'daywkDivNm': '금요일',
  'touDivCd': '3',
  'touDivNm': '외국인(c)',
  'touNum': '8219.360000000004',
  'baseYmd': '20231201'},
 {'areaCode': '27',
  'areaNm': '대구광역시',
  'daywkDivCd': '5',
  'daywkDivNm': '금요일',
  'touDivCd': '1',
  'touDivNm': '현지인(a)',
  'touNum': '1206880.5',
  'baseYmd': '20231201'},
 {'areaCode': '27',
  'areaNm': '대구광역시',
  'daywkDivCd': '5',
  'daywkDivNm': '금요일',
  'touDivCd': '2',
  'touDivNm': '외지인(b)',
  'touNum': '238301.0',
  'baseYmd': '20231201'},
 {'areaCode': '27',
  'areaNm': '대구광역시',
  'daywkDivCd': '5',
  'daywkDivNm': '금요일',
  'touDivCd': '3',
  'touDivNm': '외국인(c)',
  'touNum': '1004.25',
  'baseYmd': '20231201'},
 {'areaCode': '28',
  'areaNm': '인천광역시',
  'daywkDivCd': '5',
  'daywkDivNm': '금요일',
  'touDivCd': '1',
  'touDivNm': '현지인(a)',
  'touNum': '1364107.5',
  'baseYmd': '20231201'}]

In [12]:
# 필요한 값 추출
pd.DataFrame(dictTemp['response']['body']['items']['item'])

,areaCode,areaNm,daywkDivCd,daywkDivNm,touDivCd,touDivNm,touNum,baseYmd
0,11,서울특별시,5,금요일,1,현지인(a),4603042.5,20231201
1,11,서울특별시,5,금요일,2,외지인(b),1448384.0,20231201
2,11,서울특별시,5,금요일,3,외국인(c),30583.54999999999,20231201
3,26,부산광역시,5,금요일,1,현지인(a),1583729.0,20231201
4,26,부산광역시,5,금요일,2,외지인(b),323697.5,20231201
5,26,부산광역시,5,금요일,3,외국인(c),8219.360000000004,20231201
6,27,대구광역시,5,금요일,1,현지인(a),1206880.5,20231201
7,27,대구광역시,5,금요일,2,외지인(b),238301.0,20231201
8,27,대구광역시,5,금요일,3,외국인(c),1004.25,20231201
9,28,인천광역시,5,금요일,1,현지인(a),1364107.5,20231201

##### 단일테스트 완료 / 함수 생성
- getRequestUrl()
- getTouristDataService()
- 2023-12-01 ~ 2023-12-31 반복문 처리

In [13]:
# 웹으로 OpenAPI url 호출하는 함수
def getRequestUrl(url):
    try:
        res = requests.get(url, verify=False)
        if res.status_code == 200:  # 요청결과 OK
            return res.text
    except Exception as e:
        print(f'getRequestURL() 호출 예외 : {e}')
        return None

In [14]:
# OpenAPI 호출함수
def getTouristDataService(ymd):
    serviceKey = r'7nLHBy133gEayX0XUm36xxgovALOuZFRciiBQqKgzYuQ%2B%2BHXh%2B4D6zIXRXeMJny%2BuVGbRMLWAOZipodkafh%2BtQ%3D%3D'
    baseUrl = 'http://apis.data.go.kr/B551011/DataLabService/metcoRegnVisitrDDList?'
    parameter = 'numOfRows=10&pageNo=1&MobileOS=ETC&MobileApp=AppTest&' +\
                f'serviceKey={serviceKey}&startYmd={ymd}&endYmd={ymd}'
    result = baseUrl + parameter
    result = getRequestUrl(totalUrl)
    if result == None:
        return None
    else:
        return result

In [15]:
# 실행테스트
data = getTouristDataService('20231202')

In [16]:
# xml을 딕셔너리로 형변환후 필요한 데이터까지만 추출
xmltodict.parse(data)['response']['body']['items']['item']

[{'areaCode': '11',
  'areaNm': '서울특별시',
  'daywkDivCd': '5',
  'daywkDivNm': '금요일',
  'touDivCd': '1',
  'touDivNm': '현지인(a)',
  'touNum': '4603042.5',
  'baseYmd': '20231201'},
 {'areaCode': '11',
  'areaNm': '서울특별시',
  'daywkDivCd': '5',
  'daywkDivNm': '금요일',
  'touDivCd': '2',
  'touDivNm': '외지인(b)',
  'touNum': '1448384.0',
  'baseYmd': '20231201'},
 {'areaCode': '11',
  'areaNm': '서울특별시',
  'daywkDivCd': '5',
  'daywkDivNm': '금요일',
  'touDivCd': '3',
  'touDivNm': '외국인(c)',
  'touNum': '30583.54999999999',
  'baseYmd': '20231201'},
 {'areaCode': '26',
  'areaNm': '부산광역시',
  'daywkDivCd': '5',
  'daywkDivNm': '금요일',
  'touDivCd': '1',
  'touDivNm': '현지인(a)',
  'touNum': '1583729.0',
  'baseYmd': '20231201'},
 {'areaCode': '26',
  'areaNm': '부산광역시',
  'daywkDivCd': '5',
  'daywkDivNm': '금요일',
  'touDivCd': '2',
  'touDivNm': '외지인(b)',
  'touNum': '323697.5',
  'baseYmd': '20231201'},
 {'areaCode': '26',
  'areaNm': '부산광역시',
  'daywkDivCd': '5',
  'daywkDivNm': '금요일',
  'touDivCd': '3',
  'touDivNm': '외국인(c)',
  'touNum': '8219.360000000004',
  'baseYmd': '20231201'},
 {'areaCode': '27',
  'areaNm': '대구광역시',
  'daywkDivCd': '5',
  'daywkDivNm': '금요일',
  'touDivCd': '1',
  'touDivNm': '현지인(a)',
  'touNum': '1206880.5',
  'baseYmd': '20231201'},
 {'areaCode': '27',
  'areaNm': '대구광역시',
  'daywkDivCd': '5',
  'daywkDivNm': '금요일',
  'touDivCd': '2',
  'touDivNm': '외지인(b)',
  'touNum': '238301.0',
  'baseYmd': '20231201'},
 {'areaCode': '27',
  'areaNm': '대구광역시',
  'daywkDivCd': '5',
  'daywkDivNm': '금요일',
  'touDivCd': '3',
  'touDivNm': '외국인(c)',
  'touNum': '1004.25',
  'baseYmd': '20231201'},
 {'areaCode': '28',
  'areaNm': '인천광역시',
  'daywkDivCd': '5',
  'daywkDivNm': '금요일',
  'touDivCd': '1',
  'touDivNm': '현지인(a)',
  'touNum': '1364107.5',
  'baseYmd': '20231201'}]

In [17]:
from tqdm import tqdm
import time

In [18]:
## 반복문으로 처리
touristDatas = []
year = 2023
month = 12
# totalList = []
for day in tqdm(range(1, 32)):
    reqYmd = f'{year}{month}{day:02d}'
    data = getTouristDataService(reqYmd)
    if xmltodict.parse(data)['response']['body']['items'] == None:  # 해당날짜에 데이터가 없을 수 있음
        resList = []
    else:
        resList = xmltodict.parse(data)['response']['body']['items']['item']
        
    touristDatas = touristDatas + resList

  0%|          | 0/31 [00:00<?, ?it/s]

100%|██████████| 31/31 [01:03<00:00,  2.06s/it]

In [19]:
len(touristDatas)

310

In [20]:
dfTourist = pd.DataFrame(touristDatas)

In [21]:
dfTourist.tail()

,areaCode,areaNm,daywkDivCd,daywkDivNm,touDivCd,touDivNm,touNum,baseYmd
305,26,부산광역시,5,금요일,3,외국인(c),8219.360000000004,20231201
306,27,대구광역시,5,금요일,1,현지인(a),1206880.5,20231201
307,27,대구광역시,5,금요일,2,외지인(b),238301.0,20231201
308,27,대구광역시,5,금요일,3,외국인(c),1004.25,20231201
309,28,인천광역시,5,금요일,1,현지인(a),1364107.5,20231201

In [22]:
dfTourist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   areaCode    310 non-null    object
 1   areaNm      310 non-null    object
 2   daywkDivCd  310 non-null    object
 3   daywkDivNm  310 non-null    object
 4   touDivCd    310 non-null    object
 5   touDivNm    310 non-null    object
 6   touNum      310 non-null    object
 7   baseYmd     310 non-null    object
dtypes: object(8)
memory usage: 19.5+ KB